/* import link google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200&display=swap");

/* css variable color mode */
:root {
  /* #primary */

  --bg-body: #fafafa;
  --clr-heading-green: #0ac260;
  --clr-heading-black: #313131;
  --clr-heading-normal: #202020;
  --clr-navigasi: #303030;
  --clr-red-200: #ff4f4d;
  --clr-text: #425466;
  --clr-text-brand: #212121;
  --clr-white: #ffffff;
  --clr-white-100: #fafafa;
  --clr-white-200: #f2f2f2;
  --clr-icon-star: #fbb141;
  --clr-arrow-off: #95afb7;
  --clr-text-btn: #0ac260;
  --clr-text-input: #a5a5a5;
  --clr-int: #d7d7d7;
  --clr-star: #fbb040;
  --bg-btn: #0ac260;
  --bg-radius-red-300: #ffebeb;
  --bg-radius-blue-300: #f5f7ff;
  --bg-radius-orange-300: #fff5db;
  --bg-radius-bottom-red: #ffe9e9;
  --bg-radius-bottom-blue: #f5f7ff;
  --bg-radius-bottom-orange: #fff5da;
  --clr-border: #0ac260;
  --clr-border-about: #e0e0e0;
  --clr-border-footer: #e0e0e0;
  --clr-border-client: #fafafa;
  --bg-border: #e0e0e024;
  --bg-brand: #f1f1f1;
  --bg-clients: #f1f1f1;
  --bg-started: #f1f1f1;
  --bg-menu-sidebar: #111;

  /* #setting font (100 + 100 italic , 200, 300, 400, 500, 600) */

  --ff-poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: var(--ff-poppins);
  background-color: var(--bg-body);
  /* height: 750vh; */
}

.format-text {
  color: var(--clr-text);
}

.text-normal {
  font-size: 0.95em;
}

/* header */

.small-container {
  /* border: 1px solid; */
  position: relative;
  margin-inline: auto;
  width: 72%;
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 110px;
  /* height: 100px; */
  padding: 35px 0;
}

nav {
  /* border: 1px solid; */
  display: flex;
  margin-right: auto;
}

nav .menu-navigasi {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menu-navigasi a {
  position: relative;
  color: var(--clr-navigasi);
  font-weight: 500;
}

.menu-navigasi a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%) scale(0);
  width: 100%;
  height: 1.1px;
  border-radius: 3px;
  background-color: var(--clr-navigasi);
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
}

.menu-navigasi a:hover::after {
  transform-origin: left;
  transform: translateX(-50%) scale(1);
}

nav .btn-navigasi {
  display: none;
}

.btn-navigasi {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn-navigasi .btn-login {
  display: block;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  color: var(--clr-navigasi);
  cursor: pointer;
  transition: opacity 200ms ease;
}

.btn-navigasi .btn-login:hover {
  opacity: 0.8;
}

.btn-navigasi .btn-signup {
  display: block;
  border: none;
  width: 130px;
  height: 48px;
  background-color: var(--bg-btn);
  color: var(--clr-white);
  font-weight: 500;
  font-size: 15px;
  box-shadow: 0 5px 15px rgba(0 0 0 / 0.15);
  cursor: pointer;
  transition: opacity 200ms ease;
}

.btn-navigasi .btn-signup:hover {
  opacity: 0.9;
}

/* set menu toggle */

.btn-menu {
  display: none;
}

#menu-toggle {
  /* border: 1px solid; */
  position: relative;
  width: 30px;
  height: 30px;
  /* background-color: #fff; */
  border-radius: 10px;
  padding: 4px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08); */
}

#menu-toggle span {
  position: absolute;
  /* margin: auto; */
  width: 23px;
  height: 0.15em;
  border-radius: 4px;
  background-color: var(--clr-heading-normal);
  transition: 0.5s;
}

#menu-toggle span:nth-child(1) {
  width: 18px;
  transform: translateY(-6px);
  left: 4px;
}

#menu-toggle span:nth-child(2) {
  width: 12px;
  left: 4px;
  transform: translateY(6px);
}

#menu-toggle.active span:nth-child(3) {
  transform: translateX(70px);
}

#menu-toggle.active span:nth-child(1) {
  width: 20px;
  left: 4px;
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.125s;
}

#menu-toggle.active span:nth-child(2) {
  width: 20px;
  left: 4px;
  transform: translateY(0) rotate(315deg);
  transition-delay: 0.25s;
}

/* content */
.rows-content {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cols-content {
  position: relative;
  /* border: 1px solid; */
  flex-basis: 50%;
}

.heading-content {
  font-size: 5.2em;
  line-height: 1.05;
  color: var(--clr-heading-black);
}

.span-content {
  color: var(--clr-heading-green);
}

.text-content {
  margin: 30px 0 40px 0;
  color: var(--clr-text);
  padding-right: 80px;
  line-height: 1.7;
}

.btn-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.content .btn-contact {
  display: block;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  color: var(--clr-text-btn);
  cursor: pointer;
  transition: opacity 200ms ease;
}

.content .btn-explore {
  display: block;
  border: none;
  width: 170px;
  height: 48px;
  background-color: var(--bg-btn);
  color: var(--clr-white);
  font-weight: 500;
  font-size: 13px;
  box-shadow: 0 5px 15px rgba(0 0 0 / 0.15);
  cursor: pointer;
  transition: opacity 200ms ease;
}

.cols-content:nth-child(2) {
  flex-basis: 45%;
  text-align: center;
}

.cols-content img {
  transform: translateY(-50px);
  /* border: 1px solid; */
  width: 100%;
}

.bullet-content {
  top: -50px;
  left: 80px;
  position: absolute;
}

.cols-content:nth-child(2) .card-followers {
  position: absolute;
  object-fit: cover;
  width: 260px;
  top: 53%;
  left: 48%;
}

.cols-content:nth-child(2) .card-experience {
  position: absolute;
  object-fit: cover;
  width: 200px;
  top: 30%;
  left: 55%;
}

.cols-content:nth-child(2) .card-user {
  position: absolute;
  object-fit: cover;
  width: 200px;
  top: 45%;
  left: 3%;
}

.cols-content:nth-child(2) .card-emoticon {
  position: absolute;
  object-fit: cover;
  width: 160px;
  bottom: 14%;
  left: -4%;
}

.cols-content:nth-child(2) .card-btn-demo {
  position: absolute;
  object-fit: cover;
  width: 150px;
  top: 20%;
  left: -20%;
}

/* brand */
.rows-brand {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--bg-brand);
}

.cols-brand {
  /* border: 1px solid; */
  flex-basis: 11%;
}

.cols-brand:nth-child(2),
.cols-brand:nth-child(4) {
  flex-basis: 9%;
}

.cols-brand img {
  width: 100%;
}

/* help your customers */

.customers {
  /* border: 1px solid; */
  padding-top: 140px;
}

.heading {
  text-align: center;
  font-size: 2.2em;
  font-weight: 600;
  line-height: 1.3;
  color: var(--clr-heading-normal);
}

.rows-customers {
  margin: 90px 0;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* gap: 40px; */
}

.cols-customers {
  text-align: center;
  flex-basis: 23%;
  /* border: 1px solid; */
}

.icon-customers {
  margin: auto;
  width: 45px;
  height: 45px;
}

.cols-customers:last-child .icon-customers {
  width: 50px;
  height: 50px;
}

.icon-customers img {
  width: 100%;
}

.heading-review {
  margin: 35px 0;
  font-weight: 600;
  line-height: 1.3;
  color: var(--clr-heading-normal);
}

.cols-customers:last-child .heading-review {
  margin: 30px 0;
}

.text-customers {
  font-size: 0.9em;
}

/* how it works */

.works {
  position: relative;
  padding-top: 80px;
}

.images-works-bullet {
  position: absolute;
  top: 0;
  right: 0;
}

.main-works {
  /* border: 1px solid; */
  margin: 80px 0;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 160px;
}

.rows-works {
  /* margin: 90px 0; */
  /* border: 1px solid; */
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.cols-works {
  /* border: 1px solid; */
  flex-basis: 30%;
}

.rows-works:nth-child(2) .cols-works:first-child {
  order: 2;
}

.rows-works:nth-child(2) .cols-works:last-child {
  order: 1;
}

.cols-works p {
  font-size: 0.93em;
  color: var(--clr-text);
  margin: 20px 0;
}

.text-works {
  margin: 20px auto 0;
  text-align: center;
  width: 600px;
}

.rows-works:nth-child(1) .images-works {
  width: 300px;
  position: absolute;
  top: -70px;
  right: -15px;
}

.rows-works:nth-child(2) .images-works {
  width: 320px;
  position: absolute;
  top: -10px;
  right: -35px;
}

.rows-works:nth-child(3) .images-works {
  width: 280px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.heading-works {
  font-weight: 600;
  font-size: 1.3em;
  color: var(--clr-heading-normal);
}

.content-works {
  /* border: 1px solid red; */
  position: relative;
  /* align-items: center; */
}

.rows-works .content-works::before {
  position: absolute;
  top: -45px;
  left: -20px;
  font-size: 4em;
  font-weight: 700;
  color: var(--clr-int);
}

.rows-works:nth-child(1) .content-works::before {
  content: "01";
}
.rows-works:nth-child(2) .content-works::before {
  content: "02";
}
.rows-works:nth-child(3) .content-works::before {
  content: "03";
}

.rounded-pill-bottom {
  /* content: ""; */
  /* position: absolute; */
  width: 335px;
  height: 175px;
  border-radius: 0 0 200px 200px;
  z-index: -1;
}

.rows-works:nth-child(1) .rounded-pill-bottom {
  background-color: var(--bg-radius-bottom-red);
}

.rows-works:nth-child(2) .rounded-pill-bottom {
  background-color: var(--bg-radius-bottom-blue);
}

.rows-works:nth-child(3) .rounded-pill-bottom {
  background-color: var(--bg-radius-bottom-orange);
}

/* about us */

.about {
  /* border: 1px solid; */
  position: relative;
  padding-top: 80px;
}

.images-about-bullet {
  /* border: 1px solid; */
  position: absolute;
  top: 0;
  right: 0;
  /* transform: rotate(-180deg); */
}

.rows-about {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
}

.cols-about:first-child {
  padding: 10px 0;
  flex-basis: 50%;
  padding-right: 100px;
}

.cols-about:last-child {
  border-left: 1px solid var(--clr-border-about);
  flex-basis: 50%;
  /* padding-right: 40px; */
  /* border: 1px solid; */
}

.cols-about:first-child p {
  margin: 20px 0 30px 0;
}

.cols-about p {
  font-size: 0.93em;
  line-height: 1.7;
}

.heading-about {
  /* text-align: center; */
  font-size: 2.2em;
  font-weight: 600;
  line-height: 1.3;
  color: var(--clr-heading-normal);
}

.btn-about {
  /* width: min-content; */
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-about .btn-learn {
  display: block;
  border: none;
  width: 150px;
  height: 48px;
  background-color: var(--bg-btn);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.78em;
  color: var(--clr-white);
  box-shadow: 0 5px 15px rgba(0 0 0 / 0.15);
  cursor: pointer;
  transition: opacity 200ms ease;
}

.icons {
  font-size: 1.5em;
}

.btn-about .btn-watch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px solid var(--clr-text-btn);
  width: 160px;
  height: 48px;
  color: var(--clr-text-btn);
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 200ms ease;
}

.content-about {
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.about-int {
  border: 1px solid var(--clr-border-about);
  /* padding: 20px; */
  width: 150px;
  height: 120px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* line-height: 70px; */
}

.about-int:hover {
  border: 1px solid var(--bg-body);
  background-color: var(--bg-body);
  box-shadow: 0 5px 10px 0 rgba(0 0 0 / 0.1);
}

.text-int-about {
  margin: auto;
  text-align: center;
}

.about-int h1 {
  font-size: 1.8em;
  font-weight: 500;
}

.about-int p {
  font-size: 0.85em;
  line-height: 1.5;
}

/* what our client say */

.clients {
  /* border: 1px solid; */
  padding-top: 160px;
}

.content-client {
  /* border: 1px solid; */
  margin-top: 80px;
  position: relative;
  padding-top: 50px;
  height: 65vh;
}

.content-client::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  right: 50%;
  transform: translate(50%);
  background-color: var(--bg-clients);
}

.cols-client {
  border: 1px solid var(--clr-border-about);
  max-width: 340px;
  padding: 25px;
  background-color: var(--clr-white);
  cursor: pointer;
  transition: 0.3s ease;
}

.cols-client:hover {
  border: 1px solid var(--clr-border-client);
  box-shadow: 0 5px 12px 0 rgba(0 0 0 / 0.1);
}

.myclient {
  /* border: 1px solid red; */
  padding: 15px 0 80px 0;
}

.text-client {
  margin: 30px 25px;
  text-align: center;
}

.rating {
  /* border: 1px solid; */
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.rating .icons {
  font-size: 1em;
  color: var(--clr-star);
}

.text-preview-client {
  margin: 20px 0 25px 0;
  font-size: 0.9em;
  line-height: 1.8;
}

.info-user-client {
  display: flex;
  gap: 8px;
  align-items: center;
}

.info-name {
  line-height: 1.2;
}

.name-client {
  font-weight: 600;
}

.text-founder {
  font-size: 0.65em;
  font-weight: 400;
  color: var(--clr-text);
}

.images-client {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.detail-arrow {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  /* border: 1px solid red; */
  width: max-content;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--clr-white);
  /* line-height: 0; */
}

.button-next,
.button-prev {
  padding: 6px;
  line-height: 1;
  color: var(--clr-arrow-off);
  cursor: pointer;
  /* border: 1px solid; */
}

:is(.button-next, .button-prev):hover {
  background-color: var(--clr-heading-black);
  color: var(--clr-white);
}

.button-next .icons {
  transform: rotate(-180deg);
}

/* ready to get started */

.started {
  position: relative;
  margin: 150px 0;
  background-color: var(--bg-started);
  overflow: hidden;
}

.images-started-circle {
  position: absolute;
  top: 0;
  right: -120px;
  width: 500px;
  height: 250px;
}

.images-started-bullet {
  position: absolute;
  top: 0;
  left: 0;
}

.content-started {
  padding: 70px 0 20px 0;
  height: 65vh;
}

.form-email {
  /* border: 1px solid; */
  width: max-content;
  /* margin: auto; */
  margin: 60px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 12px 0 rgba(0 0 0 / 0.15);
}

input[type="email"] {
  border: none;
  display: block;
  padding: 22px;
  width: 300px;
}

input[type="email"]:focus {
  /* border: 1px solid var(--clr-border); */
  outline: none;
}

input[type="email"]::placeholder {
  color: var(--clr-text-input);
  font-weight: 500;
  opacity: 0.8;
}

.btn-email-signup {
  border: none;
  display: block;
  padding: 22px 35px;
  cursor: pointer;
  font-weight: 500;
  color: var(--clr-white);
  background-color: var(--bg-btn);
}

.text-started {
  margin: 25px auto 0;
  text-align: center;
  width: 580px;
}
/* footer */

.rows-footer {
  border-bottom: 1px solid var(--clr-border-footer);
  display: flex;
  padding-bottom: 90px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cols-footer img {
  width: 90px;
  margin-bottom: 20px;
}

.cols-footer:first-child {
  padding-right: 20px;
  flex-basis: 30%;
}

.heading-footer {
  margin-bottom: 20px;
  font-weight: 600;
}

.text-footer {
  display: block;
  color: var(--clr-text);
  font-size: 0.95em;
  margin: 8px 0;
}

.text-footer:hover {
  color: var(--clr-heading-black);
}

.cols-footer .social-media {
  /* border: 1px solid; */
  margin-top: 35px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.icons-media {
  /* border: 1px solid; */
  padding: 6px;
  line-height: 0;
  border-radius: 4px;
  background-color: var(--bg-btn);
}

.icons-media .icons {
  /* border: 1px solid; */
  font-size: 1.1em;
  color: var(--clr-white);
  cursor: pointer;
}

.rows-copyrights {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-copyrights {
  font-size: 0.8em;
  color: var(--clr-text);
}

.text-copyrights .brand-bold {
  font-weight: 600;
}

.menu-copyrights {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.menu-copyrights a {
  color: var(--clr-text);
  font-size: 0.8em;
}

/* media breakpoint 576px */

@media only screen and (max-width: 576px) {
  body {
    height: 150vh;
  }

  .btn-menu {
    display: block;
    z-index: 9;
  }

  #menu-toggle[aria-expanded="true"] span {
    background-color: var(--clr-white-200);
  }

  #header {
    border-bottom: 1px solid var(--clr-border-about);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--bg-body);
    z-index: 3;
  }

  #header.sticky {
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.836);
    backdrop-filter: blur(0.3rem);
    -webkit-backdrop-filter: blur(0.3rem);
    box-shadow: 0 5px 12px 0 rgba(0 0 0 / 0.05);
  }

  .navbar {
    /* border: 1px solid; */
    column-gap: normal;
    justify-content: space-between;
    height: 60px;
  }

  .logo img {
    width: 90px;
  }

  .small-container {
    width: 100%;
    padding: 0 15px;
  }

  nav {
    padding: 80px 40px;
    position: fixed;
    inset: 0 0 0 30%;
    /* width: 50%;
    top: 0;
    right: 0; */
    height: 100vh;
    /* background-color: rgba(0 0% 100% / 1);
    backdrop-filter: blur(0.3rem);
    -webkit-backdrop-filter: blur(0.3rem); */
    margin-right: inherit;
    flex-direction: column;
    transform: translateX(100%);
    background-color: var(--bg-menu-sidebar);
    transition: transform 400ms ease-in-out;
  }

  nav[data-visible="true"] {
    transform: translateX(0);
  }

  nav .menu-navigasi {
    border: 1px solid;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .menu-navigasi a {
    position: relative;
    color: var(--clr-white-200);
    font-weight: 500;
    font-size: 0.9em;
  }

  .btn-navigasi {
    display: none;
  }

  nav .btn-navigasi {
    padding: 20px 0;
    margin: 40px 0;
    text-align: center;
    border-top: 0.1px solid var(--clr-border-about);
    /* outline-top: 1px solid #ccc; */
    display: block;
  }

  nav .btn-navigasi .btn-login {
    color: var(--clr-white-200);
  }

  nav .btn-navigasi .btn-signup {
    margin: 25px auto 0;
  }

  /* content */

  .content {
    margin-top: 70px;
    /* border: 1px solid red; */
    padding-top: 30px;
  }

  .cols-content {
    /* border: 1px solid; */
    flex-basis: 100%;
  }

  .heading-content {
    font-size: 3em;
  }

  .text-content {
    /* margin: 30px 0 40px 0; */
    padding-right: 50px;
    font-size: 0.9em;
  }

  .content .btn-contact {
    font-size: 14px;
  }

  .content .btn-explore {
    width: 150px;
    height: 50px;
    font-size: 12.3px;
  }

  .cols-content:nth-child(2) {
    display: none;
  }

  .bullet-content {
    display: none;
    /* max-width: 170px;
  top: inherit;
  left: 200px;
  bottom: 90px;
  position: absolute; */
  }

  /* brand */
  .brand {
    padding: 40px 0;
    /* border: 1px solid; */
  }

  .rows-brand {
    padding: 30px 0;
    justify-content: center;
    gap: 15px 30px;
  }

  .cols-brand {
    /* border: 1px solid; */
    flex-basis: 25%;
  }

  .cols-brand:nth-child(2),
  .cols-brand:nth-child(4) {
    flex-basis: 20%;
  }

  /* help your customers */

  .customers {
    /* border: 1px solid; */
    padding-top: 20px;
  }

  .heading {
    font-size: 1.4em;
  }

  .rows-customers {
    margin: 60px 0;
    /* border: 1px solid; */
    justify-content: center;
    gap: 50px 30px;
  }

  .cols-customers {
    flex-basis: 45%;
    /* border: 1px solid; */
  }

  .icon-customers {
    width: 30px;
    height: 30px;
  }

  .cols-customers:last-child .icon-customers {
    width: 35px;
    height: 35px;
    /* border: 1px solid; */
  }

  .heading-review {
    margin: 15px 0 10px 0;
    font-size: 0.8em;
  }

  .cols-customers:last-child .heading-review {
    margin: 10px 0;
    /* border: 1px solid; */
  }

  .text-customers {
    font-size: 0.7em;
  }

  /* how it works */

  .works {
    /* border: 1px solid; */
    position: relative;
    padding-top: 60px;
  }

  .images-works-bullet {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  .main-works {
    /* border: 1px solid; */
    margin: 50px 0;
    gap: 120px;
  }

  .rows-works {
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .cols-works {
    /* border: 1px solid red; */
    flex-basis: 100%;
    text-align: center;
  }

  .rows-works .cols-works:nth-child(2) {
    padding: 0 30px;
  }

  .rows-works:nth-child(2) .cols-works:first-child {
    order: 1;
  }

  .rows-works:nth-child(2) .cols-works:last-child {
    order: 2;
  }

  .cols-works p {
    font-size: 0.85em;
    margin: 10px 0;
  }

  .text-works {
    /* border: 1px solid; */
    margin: 15px 0;
    font-size: 0.9em;
    width: inherit;
  }

  .rows-works:nth-child(1) .images-works {
    width: 220px;
    top: -55px;
    right: 45px;
  }

  .rows-works:nth-child(2) .images-works {
    width: 220px;
    right: 35px;
  }

  .rows-works:nth-child(3) .images-works {
    width: 220px;
    right: 40px;
  }

  .heading-works {
    font-size: 1.1em;
  }

  .content-works {
    /* border: 1px solid red; */
    position: relative;
    /* align-items: center; */
  }

  .rows-works .content-works::before {
    top: -40px;
    left: 40px;
    font-size: 3.3em;
  }

  .rounded-pill-bottom {
    margin: auto;
    width: 335px;
    max-width: 250px;
    height: 120px;
  }

  /* about */

  .about {
    /* border: 1px solid; */
    padding-top: 0;
  }

  .images-about-bullet {
    /* border: 1px solid; */
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    /* transform: rotate(-180deg); */
  }

  .rows-about {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .cols-about:first-child {
    padding: 0;
    text-align: center;
    flex-basis: 100%;
    padding: 0 20px;
    /* border: 1px solid; */
  }

  .cols-about:last-child {
    border-left: none;
    flex-basis: 100%;
    /* border: 1px solid; */
  }

  .cols-about:first-child p {
    margin: 20px 0 30px 0;
  }

  .cols-about p {
    font-size: 0.85em;
  }

  .heading-about {
    /* text-align: center; */
    font-size: 1.4em;
  }

  .btn-about {
    /* border: 1px solid; */
    justify-content: center;
    gap: 20px;
  }

  .btn-about .btn-learn {
    width: 135px;
    font-size: 0.75em;
  }

  .btn-about .btn-watch {
    width: 150px;
    font-size: 0.85em;
  }

  .content-about {
    /* border: 1px solid; */
    padding: 20px 0;
    gap: 20px;
  }

  .about-int {
    border: 1px solid var(--clr-border-about);
    max-width: 130px;
    height: 120px;
  }

  .about-int h1 {
    font-size: 1.5em;
  }

  .about-int p {
    font-size: 0.75em;
  }

  /* what our clients say */

  .clients {
    /* border: 1px solid; */
    padding-top: 70px;
  }

  .content-client {
    /* border: 1px solid yellow; */
    margin-top: 50px;
    position: relative;
    padding-top: 20px;
    height: 50vh;
  }

  .cols-client {
    border: 1px solid var(--clr-border-about);
    width: 340px;
    max-width: 330px;
  }

  .myclient {
    /* border: 1px solid red; */
    padding: 15px 0 60px 0;
  }

  .text-client {
    font-size: 0.9em;
  }

  .rating {
    /* border: 1px solid; */
    margin-top: 0;
  }

  .detail-arrow {
    transform: translateX(50%) scale(0.8);
    /* border: 1px solid red; */
    width: inherit;
  }

  /* ready to get started */

  .started {
    margin: 80px 0;
    background-size: 200px;
    background-position: top right -100px;
  }

  .images-started-circle {
    right: -30px;
    max-width: 140px;
    max-height: 70px;
  }

  .images-started-bullet {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .content-started {
    padding: 70px 0 20px 0;
    height: 50vh;
  }

  .form-email {
    /* border: 1px solid; */
    margin: 40px auto 0;
  }

  input[type="email"] {
    padding: 20px 22px;
    max-width: 200px;
  }

  .btn-email-signup {
    padding: 20px 30px;
  }

  .text-started {
    /* border: 1px solid; */
    font-size: 0.9em;
    width: inherit;
  }

  /* footer */

  .rows-footer {
    border-bottom: 1px solid var(--clr-border-footer);
    padding-bottom: 40px;
    row-gap: 20px;
  }

  .cols-footer img {
    margin-bottom: 5px;
  }

  .cols-footer:first-child {
    padding-right: 0;
    flex-basis: 100%;
  }

  .cols-footer {
    /* border: 1px solid; */
    flex-basis: 25%;
  }

  .heading-footer {
    font-size: 1em;
    margin-bottom: 15px;
  }

  .text-footer {
    font-size: 0.9em;
    margin: 7px 0;
  }

  .rows-copyrights {
    padding: 15px 0;
    /* border: 1px solid; */
  }

  .text-copyrights {
    font-size: 0.65em;
  }

  .menu-copyrights {
    /* border: 1px solid; */
    column-gap: 10px;
  }

  .menu-copyrights a {
    font-size: 0.65em;
  }
}

/* 26/01/2022 | 23:25 */
/* media breakpoint 768px */
